.cf-btn {
  display:inline-block;
  padding: 4px 15px;
  margin: 0 10px;
  line-height: 1.5;
  border: 0;
  border-radius: 3px;
  &[disabled] {
    background: rgba(grey,.4);
    color: grey;
  }
}

.cf-btn-primary {
  color: white;
  background: deepskyblue;
}